//fuentes de texto
$fuentePrincipal : arial,Helvetica,sans-serif;

//Media Queries
$telefono:480px;
$tablet:768px;
$desktop:1200px;

//Colores
$primario:#29315c;
$tercero:#444e86;
$secundario:#2a9e20;
$gris:#323232;
$gris2:#8c8c8c;
$gris3:#454545;
$blanco:#FFFFFF;
$negro:#000000;

//border
$radius:5px;
